{% extends 'base.html' %}
{% block content%}
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                        <!--display profile picture-->
                        {%if user.profile_pic_path%}
                            <img class="card-img-top rounded-circle" src="{{url_for('static',filename =user.profile_pic_path) }}" alt="Card image cap" style="width: 250px; height: 250px;">
                        {%else%}
                        <p>No profile picture</p>
                        {%endif%}

                        {% if user == current_user %}
                            <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
                        
                            <input type="file"  name="photo" class="form-control" required style="width: 200px;">
                            <input type="submit" style="margin-left: 50px;">
                            </form>
                        {% endif %}
                    <div class="card-body">
                            <!--display username-->
                        <h5 class="card-text">{{user.username|capitalize}} </h5>
                        <!--display user bio-->
                        {%if user.bio%}
                        <p class="card-text">{{user.bio}} </p>
                        {%else%}
                            <p class="card-text">{{user.username|capitalize}} has no bio </p>
                        {%endif%}

                        {% if user == current_user %}
                            <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
                        {%endif%}
                    </div>
                  
                </div>

            </div>
            <div class="col-md-6">
                <h5>
                    my posts
                </h5>
            </div>
        </div>
    </div>
   
{%endblock%}